* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #25272e;
  color: #fff;
}
header {
  background-color: #fff;
  padding: 20px;
}
header h1 {
  color: #25272e;
  text-align: center;
  font-family: "Asap", sans-serif;
}
.score_borad {
  margin: 20px auto;
  border: 3px solid #fff;
  width: 200px;
  font-size: 45px;
  border-radius: 4px;
  text-align: center;
  padding: 15px 20px;
  position: relative;
}
.badge {
  background-color: #e2584d;
  font-size: 14px;
  padding: 2px 10px;
}
#user_label {
  position: absolute;
  top: 40%;
  left: -10%;
}
#comp_label {
  position: absolute;
  top: 40%;
  right: -10%;
}
.result {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}
.choises {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}
.choise {
  height: 88px;
  width: 88px;
  margin: 0 5px;
  cursor: pointer;
  margin: 0 15px;
}
.choise img {
  height: 100%;
  width: 100%;
}
.little_message {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
